install
url --url=https://mirrors.aliyun.com/centos/6.10/os/x86_64/
# if you use proxy
# url --url http://mirrors.aliyun.com/centos/6.10/os/x86_64/ --proxy 
lang en_US.UTF-8
keyboard us
network --onboot yes --device eth0 --bootproto dhcp --noipv6
rootpw test4cos
firewall --disabled
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone America/Los_Angeles
bootloader --location=mbr
 
text
skipx
zerombr
 
clearpart --all --initlabel
autopart
 
auth  --useshadow  --enablemd5
firstboot --disabled
reboot
 
%packages 
@core
%end

%post
